.l-header{
    padding:1em 0;

    background-color:#2F2F2F;
    color:white;
}
.l-header > .container{
    position:relative;
}

/* LOGO */
.logo{
    position:relative;
}
.logo i{
    font-size:5em;
}
.logo .one, .logo .buy{
    position:absolute;

    font-family:'Oswald';
}
.logo .one{
    top:30%;
    left:17.5%;

    color:#2F2F2F;
    font-size:2em;
    font-weight:bold;

    transform:skew(0deg, 30deg);
}
.logo .buy{
    top:12%;
    left:100%;

    font-size:2.5em;
}