.good-table{
    padding-top:9.5em;
}

.good-table-row{
    padding:.25em 0;

    border-bottom:1px solid #3b3225;
}
.good-table-row:last-child{
    border:none;
}

.good-table-rows, .good-table-form{
    transition:opacity .5s ease;
}
.good-table-form .form-title{
    margin-bottom:3em;

    font-size:1.25em;
}